{% extends 'top_nav.html' %}

{% block content %}
    <p>{{ intro }}</p>
    {% if generated_comments %}
        <div class="catto_comments">
            <p>{{ generated_comments|length }}개의 답변이 있습니다.</p>
            {% for comment in generated_comments %}
                <div class="catto_comment_panel">
                    <h3><a href="{{ url_for('post_detail.post_detail', post_id=comment['post_id']) }}">{{ comment['post_id'] }}번째 글</a>에 대해 답변을 남겼어요!</h3>
                    <p style="padding: 0 20px 0 20px;">{{ comment['content'] }}</p>
                    <form class="catto_comment_footer" action="/value_generated_comment" method="POST">
                        <button type="submit" name="value_generated_comment" value="save">Good</button>
                        <button type="submit" name="value_generated_comment" value="delete">Bad</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>아직 멋진 글을 찾지 못했어요...</p>
    {% endif %}
    <form action="/catto", method="POST">
        <button type="submit">Generate Comment</button>
    </form>
{% endblock %}