<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_page</title>
</head>
<body>
    <div class="main">
        <h1>Welcome to Ciracino's local space</h1>
        <div>
            <p class="main_recommend_title">확률적인 접근법에 대한 고찰</p>
            <p>확률에 의거하여 무언가를 판단한다는 것은 일반적으로 신뢰도가 높다. 하지만 이것이 언제나 옳다고 말할 수는 없다.
                \n확률에 의한 접근 방법은 주변에서 샘플을 수집하여 이러한 샘플이 전체를 대표할 수 있다는 가정 하에 시작된다. 사용자가 선택한 일부가 전체를 대표할 수 있다는 가정 하에 모든 것이 출발한다.
                \n사용자가 샘플을 택한다는 것은 사용자의 경험과 취향, 지식 수준 등을 어느 정도 반영하기에 사용자에게 최적화된 샘플일 가능성이 높다. </p>
        </div>
    </div>
</body>
</html>