<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_page</title>
</head>
<body>
    <div class="main">
        <p class="main_logo">Ciracino's</p>
        <p class="main_logo">Local Space</p>
        <br>
        <p style="text-align: left; font-size: 30px; margin: 30px 0 15px 0;">Recent Posts</p>
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{{ url_for('post_detail', post_id=post['id']) }}" class="main_recent_post">
                        <p class="main_recent_post_date">{{ post['upload_date'] }}</p>
                        <p class="main_recent_post_title">{{ post['title'] }}</p>
                    </a>
                </li>
            {% else %}
                <li>NO posts found.</li>
            {% endfor %}
        </ul>
        <hr>
    </div>
</body>
</html>