<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main_page</title>
</head>
<body>
    <div class="main">
        <p>Recent Posts</p>
        <hr>
        <ul>
            {% for post in posts %}
                <li>
                    <a href="#" class="main_recent_post">
                        <p class="main_recent_post_date">{{ post['upload_date'] }}</p>
                        <p class="main_recent_post_title">{{ post['title'] }}</p>
                    </a>
                </li>
            {% else %}
                <li>NO posts found.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>