<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>playlist_page</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; margin: 0; width: 200px">
        <img src="static/recode_img.jpg" class="recode_img">
        <p class="playlist_title">Caballero</p>
        <audio id="audio" style="display: none" controls>
            <source src="static/test_music.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
        <div class="playlist_music_playbar_container">
            <div class="playlist_music_playbar" id="playlist_music_playbar"></div>
        </div>
        <button id="playlist_music_playbtn">play</button>
        <a href="#">
            <p>Music DB</p>
        </a>
        <a href="#">Playlist</a>
        <hr>
        <p class="profile_subtopic">Recommended</p>
        <ul>
            <li>불꽃 소방대 - 인페르노</li>
            <li>귀멸의 칼날 - 홍련화</li>
            <li>강철의 연금술사 - 거짓말</li>
            <li>너의 이름은 - 전전전세</li>
            <li>귀멸의 칼날 유곽편 - 잔향산가</li>
        </ul>
        <hr>
        <p class="profile_subtopic">Recent</p>
        <ul>
            <li>어떤 과학의 초전자포 - only my railgun</li>
            <li>신세게 에반게리온 - 잔혹한 천사의 테제</li>
            <li>강철의 연금술사 - 멜리사</li>
        </ul>
    </div>
    <script>
        const audio = document.getElementById('audio');
        const playbar = document.getElementById('playlist_music_playbar');
        const playbtn = document.getElementById('playlist_music_playbtn');

        playbtn.addEventListener('click', () => {
            if (audio.paused) {
                audio.play();
                playbtn.textContent = 'pause';
                document.querySelector('.recode_img').style.animationPlayState = 'running';
            } else {
                audio.pause();
                playbtn.textContent = 'play';
                document.querySelector('.recode_img').style.animationPlayState = 'paused';
            }
        });

        audio.addEventListener('timeupdate', () => {
            const per = (audio.currentTime / audio.duration) * 100;
            playbar.style.width = per + '%';
        });
    </script>
</body>
</html>