{% extends "top_nav.html" %}

{% block content %}
    <div style="margin: 50px; text-align: left;">
        <p style="font-size: 50px; font-weight: bold; margin-bottom: 40px">{{ post['title'] }}</p>
        <p>{{ post['upload_date'] }}</p>
        <br>
        <p style="font-size: 20px; white-space: pre-wrap;"> {{ post['content'] }}</p>
        <br>
        <hr>
        {% if comments %}
            {% for comment in comments %}
                <div style="display: flex; justify-content: space-between;">
                    <p>{{ comment['name'] }}</p>
                    <p>{{ comment['timestamp'] }}</p>
                </div>
                <p>{{ comment['content'] }}</p>
            {% endfor %}
        {% else %}
            <a>첫 댓글을 달아보세요!</a>
        {% endif %}
        <form method="POST" action="{{ url_for('post_detail.comment', post_id=post['id']) }}">
            <input type="text" name="comment" placeholder="댓글 달기...">
        </form>
    </div>
{% endblock %}