<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile_page</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; margin: 0; width: 200px">
        <img src="static/profile_img.pdf" class="profile_img">
        <p class="profile_name">Lee seung ho</p>
        <p class="profile_nickname">ciracino88</p>
        <p>나를 소개해보세요!</p>
        <button>Edit profile</button>
        <a href="https://www.threads.net/@xx242.nn?xmt=AQGzdoWX2NLgDVMjyFJSAr2bzdw-X8RC1AksY4f4JJi0HIE">
            <p>Thread</p>
        </a>
        <a href="https://github.com/Ciracino88">Github</a>
        <hr>
        <p class="profile_subtopic">Reference</p>
        <ul>
            <li class="profile_subtopic_li"><a href="/thinking">Thinking</a></li>
            <li class="profile_subtopic_li"><a href="/shorts">Shorts</a></li>
            <li>Archive</li>
        </ul>
        <hr>
        <p class="profile_subtopic">Convenient Tools</p>
        <ul>
            <li><a href="/calculator">Calculator</a></li>
        </ul>
    </div>
</body>
</html>